@charset "UTF-8";

@font-face {
    font-family: 'SpoqaB';
    font-weight: 700;
    src: local('Spoqa Han Sans Neo Bold'),
    url('../font/SpoqaHanSansNeo-Bold.woff2') format('woff2'),
    url('../font/SpoqaHanSansNeo-Bold.woff') format('woff'),
    url('../font/SpoqaHanSansNeo-Bold.ttf') format('truetype');
}

@font-face {
    font-family: 'SpoqaR';
    font-weight: 400;
    src: local('Spoqa Han Sans Neo Regular'),
    url('../font/SpoqaHanSansNeo-Regular.woff2') format('woff2'),
    url('../font/SpoqaHanSansNeo-Regular.woff') format('woff'),
    url('../font/SpoqaHanSansNeo-Regular.ttf') format('truetype');
}

